<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <input type="text" ng-model="area">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>开始时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image starTime"  ng-model="starTime" >
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>结束时间</em></label>
                    <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endTime"  ng-model="endTime" >
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <button ng-verify="{control:'myform'}" ng-click="workersAddFun()">导出</button>
    </p>
</div>