<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)" ng-hide="isHide">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="driverInfo"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.dispatchcarinfo.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="waitAudit"  ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.waitaudit.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="financeAudit"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.finance.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="waitPay"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.waitpay.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="payed"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.payed.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name6}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="collect"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.collect.dispatchCollect[12]">
            <a href="javascript:void(0)">{{menuInfo.name7}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="dispatchcarRecordCollect"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.dispatchcarrecordcollect.dayCollect[12]">
            <a href="javascript:void(0)">{{menuInfo.name8}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)"  ng-show="checkChangecar"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.checkchangecar.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name9}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="dispatchcarWrong"   ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.dipatchcarwrong.list[12]">
        <a href="javascript:void(0)">{{menuInfo.name10}}</a>
       </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="cuspermission"  ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.dispatchcar.setting.list[12]" >
            <a href="javascript:void(0)">{{menuInfo.name11}}</a>
        </li>
        <li ng-click="navClass('version')" ng-class="{'active':navCla=='version'}"  ui-sref="_root.dispatchcar.versionInfo.version.list[12]" ><a href="javascript:void(0)">{{menuInfo.name12}}</a></li>
        <li ng-click="navClass('help')" ng-class="{'active':navCla=='help'}"  ui-sref="_root.dispatchcar.versionInfo.help.list[12]" ><a href="javascript:void(0)">{{menuInfo.name13}}</a></li>
    </ul>
</div>
